<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="card">
        <div class="card-block">
          {{input value=username placeholder="enter something"}}
          {{#if validations.isValid}}Valid{{else}}Invalid{{/if}}
        </div>
      </div>
    </div>
  </div>
</div>